[submodule "envsubst"]
	path = envsubst
	url = https://github.com/a1k0u/envsubst.git
	branch = debian/sid
[submodule "mockoidc"]
	path = mockoidc
	url = https://github.com/a1k0u/mockoidc.git
	branch = debian/sid
[submodule "go-redis-v9"]
	path = go-redis-v9
	url = https://github.com/a1k0u/go-redis-v9.git
	branch = debian/sid
[submodule "minisentinel"]
	path = minisentinel
	url = https://github.com/a1k0u/minisentinel.git
	branch = debian/sid
[submodule "gopher-lua"]
	path = gopher-lua
	url = https://github.com/a1k0u/gopher-lua.git
	branch = debian/sid
[submodule "miniredis"]
	path = miniredis
	url = https://github.com/a1k0u/miniredis.git
	branch = debian/sid
[submodule "redislock"]
	path = redislock
	url = https://github.com/a1k0u/redislock.git
	branch = debian/sid
[submodule "oauth2-proxy"]
	path = oauth2-proxy
	url = https://github.com/a1k0u/oauth2-proxy.git
	branch = debian/sid
